!!!
/
  Spectral by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
%html
  %head
    %title Dodjo!
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    /[if lte IE 8] <script src="assets/css/ie/html5shiv.js"></script>
    %link{:href => "assets/css/style.css", :rel => "stylesheet"}/
    /[if lte IE 9] <link rel="stylesheet" href="assets/css/ie/v9.css" />
    /[if lte IE 8] <link rel="stylesheet" href="assets/css/ie/v8.css" />
  %body.landing
    / Page Wrapper
    #page-wrapper
      / Header
      %header#header.alt
        %h1
          %a{:href => "radio"} Dodjo
        %nav#nav
          %ul
            %li.special
              %a.menuToggle{:href => "#"}
                %span Меню
              #menu
                %ul
                  %li
                    %a{:href => "campaign_js"} Игры
                  %li
                    %a{:href => "campaign_direct"} Приложения
                  %li
                    %a{:href => "offer_direct"} \o/ 
      / One
      %section#one.wrapper.alt.style2
        %section.spotlight
          .image
            %img{:alt => "", :src => "images/banner.jpg"}/
          .content
            %h2= apps_list[ :kings_empire ][ 'title' ]
            %p= apps_list[ :kings_empire ][ 'message' ]
            %ul.actions
              %li
                %a.button.big{ href: apps_list[ :kings_empire ][ :link ] } Download
        %section.spotlight
          .image
            %img{:alt => "", :src => "images/pic01.jpg"}/
          .content
            %h2
              World of Tanks Blitz
            %p= apps_list[ :world_of_tanks ][ 'message' ]
            %ul.actions
              %li
                %a.button.big{ href: apps_list[ :world_of_tanks ][ :link ] } Download
        %section.spotlight
          .image
            %img{:alt => "", :src => "images/pic02.jpg"}/
          .content
            %h2
              = apps_list[ :du_battery_saver ][ 'title' ]
            %p= apps_list[ :du_battery_saver ][ 'message' ]
            %ul.actions
              %li
                %a.button.big{ href: apps_list[ :du_battery_saver ][ :link ] } Download
        %section.spotlight
          .image
            %img{:alt => "", :src => "images/pic03.jpg"}/
          .content
            %h2
              = apps_list[ :leo_privacy ][ 'title' ]
            %p= apps_list[ :leo_privacy ][ 'message' ]
            %ul.actions
              %li
                %a.button.big{ href: apps_list[ :leo_privacy ][ :link ] } Download
