!!!
/
  Helios by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
%html
  %head
    %title= app[ :title ]
    %link{:href => "http://res.lazyswipe.com/images/lazy/icon36.png", :rel => "icon", :type => "image/x-icon"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    /[if lte IE 8] <script src="css/ie/html5shiv.js"></script>
    %script{:src => "/#{ app_name }/js/jquery.min.js"}
    %script{:src => "/#{ app_name }/js/jquery.dropotron.min.js"}
    %script{:src => "/#{ app_name }/js/jquery.scrolly.min.js"}
    %script{:src => "/#{ app_name }/js/jquery.onvisible.min.js"}
    %script{:src => "/#{ app_name }/js/skel.min.js"}
    %script{:src => "/#{ app_name }/js/skel-layers.min.js"}
    %script{:src => "/#{ app_name }/js/init.js"}
    %noscript
      %link{:href => "/#{ app_name }/css/skel.css", :rel => "stylesheet"}/
      %link{:href => "/#{ app_name }/css/style.css", :rel => "stylesheet"}/
      %link{:href => "/#{ app_name }/css/style-desktop.css", :rel => "stylesheet"}/
      %link{:href => "/#{ app_name }/css/style-noscript.css", :rel => "stylesheet"}/
    /[if lte IE 8] <link rel="stylesheet" href="css/ie/v8.css" />
  %body.homepage
    / Header
    - image_url = "/#{ app_name }/images/header.jpg"
    #header{ style: "background-image: url(#{ image_url });"}
      / Inner
      .inner
        %header
          %img{:height => "45px", :src => "/#{ app_name }/images/icon.png"}/
          %h1
            %a#logo{ href: "index.html", style: app[ 'extended_style' ] }= app[ 'title' ]
          %a#button_main.button.circled.scrolly{ href: app[ :link ] } Download
        %footer
          
      / Nav
      %nav#nav
        %ul
          %li
            %a{:href => "/", style: app[ 'extended_style' ] } Home
          %li
            %a{:href => "/games", style: app[ 'extended_style' ] } Games
          %li
            %a{:href => "/apps", style: app[ 'extended_style' ] } Apps
    / Banner
    %section#banner
      %header
        %h2 Lazy Swipe - Simple and Speed
        %p
          Lazy Swipe allows convenient access to your favorite apps, settings, and incoming notifications using just one hand.
    / Main
    .wrapper.style2
      %article#main.container.special
        %a.image.featured{ href: app[ :link ] }
          %img{:alt => "", :src => "/#{ app_name }/images/second_wall.jpg"}/
        %header
          %h2
            %a{:href => "#"} FEATURES
          %p
            Just swipe from your screen's bottom left or right corner on any screen to instantly open a robust and customizable radial menu that's all within a thumb's reach. Unlike other accessibility tools, Lazy Swipe stays hidden and out of your way until you swipe it into view to use it.
        %footer
          %a.button{ href: app[ :link ] } Download and Enjoy!
    / Footer
    #footer
      .container
        .row
          / Tweets
          %section.4u
          / Contact
          %section.contact
            %header
              %h3 Lazy Swipe is the Best Launcer!
            %ul.icons
              %li
                %a.icon.fa-twitter{:href => "#"}
                  %span.label Twitter
              %li
                %a.icon.fa-facebook{:href => "#"}
                  %span.label Facebook
              %li
                %a.icon.fa-instagram{:href => "#"}
                  %span.label Instagram
              %li
                %a.icon.fa-linkedin{:href => "#"}
                  %span.label Linkedin
